* {
    font-family: Helvetica, Geneva, Optima, sans-serif;
    font-size: 150%;
    color: #2c2c2c;
    background-color: #FBF8D7;
}

a {
    cursor: pointer;
    color: #FF7A4F;
    font-family: Helvetica, Geneva, Optima, sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
}

a:hover {
    color: #F6B64C;
}

h1 {
    font-size: 175%;
    letter-spacing: 1px;
    margin: 5px;
    padding: 5px;
}

p {
    line-height: 120%;
    margin: 5px;
    padding: 5px;
}

/* Styling for top container with timer and link to highscores */
.persistent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.persistent_item {
    padding: 10px 15px 10px 15px;
    font-family: Helvetica, Geneva, Optima, sans-serif;
    letter-spacing: 1px;
}

/* When timer gets below 20 sections, change background color */
/* .time-low {
    background-color: #E7454B;
    transition: background-color 0.5s;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 150%;
    padding: 10px 15px 10px 15px;
    font-family: Helvetica, Geneva, Optima, sans-serif;
    letter-spacing: 1px;
} */

/* Styling for all sections: Welcome, Questions, Leaderboard */
section {
    margin: 50px auto 0 auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

.hidden {
    display:none;
}

button {
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    padding: 5px 10px;
    margin: 10px;
    background-color: #FF7A4F;
    color: #FFFFFF;
    letter-spacing: 1px;
    font-size: 125%;
}

button:hover {
    background-color: #F6B64C;
}

/* Stylization for the start and submit buttons */
.submit {
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    padding: 5px 10px;
    margin: 10px;
    background-color: #FF7A4F;
    color: #FFFFFF;
    letter-spacing: 1px;
    font-size: 125%;
}

.submit:hover {
    background-color: #F6B64C;
}

#question {
    margin: 50px auto 0 auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-around;
}

/* Answer toast message styling */
#toast {
    font-style: italic;
    color: #848484; 
    letter-spacing: 1px;
    font-weight: lighter;
    text-align: left;
}

/* Leaderboards styling */
#leaderboards h1 {
    display:block;
}

.submit-leaderboards {
    display: block;
}